

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Pacifico', cursive;
}

.count {
  font-size: 2rem;
  font-weight: 700;
}

.cost {
  font-weight: 300;
}

.nft-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background: rgb(255, 217, 0);
  padding: 1rem 2rem;
  border-radius: 20px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  width: 140px;
  margin-top: 10px;
}

.withdraw {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.nftImage{
  width: 250px;
  height: 250px;
  border-radius: 8px;
}

.nft-card{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-left: 3%;
}

